:root{
  --amarelo:#FFC100;
  --amarelo-escuro:#B38700;
  --cinza:#455A64;
  --amarelo-claro:#FFE699;
  --branco:#fff;
  --preto:#000;
  --cinza-escuro:#1c1c1c;
  --cinza-padrao:#333;
  --amarelo-mega-escuro:#806000;
  --verde:#52f34c;
  --azul:#000CFF;
}



#question {
  background: linear-gradient(
    90deg,
    var(--branco)100%,
    var(--amarelo) 0%,
    var(--branco)100%
  );
  border-radius: 1rem;
  padding: 2rem;
  width: 500px;
  color: var(--preto);
}

#question p {
  margin-bottom: 1rem;
  color: var(--amarelo-mega-escuro);
}

#question h2 {
  color: var(--amarelo);
  margin-bottom: 2rem;
}

#question button {
  margin: 1rem;
}
